doctype html
html
  head
    title= title
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/popper/popper.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/sweetalert2/sweetalert2.all.min.js')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css' type='text/css')
    
  body
    block content
